App/views/login/signup.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=distice-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><meta name="renderer" content="webkit"><title>登录</title><link rel="stylesheet" href="/stylesheets/common.css" media="screen"><link rel="stylesheet" href="/stylesheets/download.css" media="screen"><script>function login(){
  var name=document.getElementById("name").value;
  var pass=document.getElementById("password").value;
  
};</script></head><body><div class="index-page"><div class="client-header"><div class="bg"></div><div class="container"><div class="pull-right relative"><ul class="deflate"><li><a href="javascript:;"></a></li></ul></div></div></div><div class="banner"><div class="slide slide1"><div class="bg-wrapper"><div id="container_left" class="bg"><div id="canvas_left"></div></div><div class="mask"></div></div><div style="margin-left:30%" class="content"><div class="con-warpper-fixed"><div class="con-pc"><div class="con-pc2"><p><font color="#FFF" size="60">注册</font></p><form><p><label style="color:white">注册名</label><input type="text" style="background-color:rgba(0,0,0,0)"></p><p><label>密码</label><input type="text" style="background-color:rgba(0,0,0,0)"></p><p> <button class="btn btn-left">注册</button></p></form></div></div></div></div></div><div class="slide slide2"><div class="bg-wrapper"><div id="container_right" class="bg"><div id="canvas_right"></div></div><div class="mask"></div></div><div style="margin-right:30%" class="content"><div class="con-warpper-fixed"><div class="con-pc"><div class="con-pc2"><p><font color="#FFF" size="60">登录</font></p><form><p><label style="color:white, border:0px solid #00F">登录名</label><input type="text" id="name" style="background-color:rgba(0,0,0,0)"></p><p><label>密码</label><input type="text" id="password" style="background-color:rgba(0,0,0,0)"></p><p> <button href="#" onclick="login()" class="btn btn-left"> 登录</button></p></form></div></div></div></div></div></div></div><script src="/javascripts/jquery.min.js"></script><script src="/javascripts/cav.js"></script><script src="/javascripts/backgroundShaking.js"></script><script>$(function() {
//				backgroundShaking('container_left', 'canvas_left', '#ba2454', '#b73c63')
backgroundShaking('container_left', 'canvas_left', '#0065a1', '#197bb5')
backgroundShaking('container_right', 'canvas_right', '#ab6c11', '#cfa73a')
})</script></body></html>

App/views/login/signup.jade
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=distice-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='renderer', content='webkit')
    title 登录
    link(rel='stylesheet', href='/stylesheets/common.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/download.css', media='screen')
    script.
      function login(){
        var name=document.getElementById("name").value;
        var pass=document.getElementById("password").value;
        
      };
  body
    .index-page
      .client-header
        .bg
        .container
          .pull-right.relative
            ul.deflate
              li
                a(href='javascript:;')
      .banner
        .slide.slide1
          .bg-wrapper
            #container_left.bg
              #canvas_left
            .mask
          .content(style='margin-left:30%')
            .con-warpper-fixed
              .con-pc
                .con-pc2
                  p
                    font(color='#FFF', size='60') 注册
                  form
                     p
                       label(style='color:white') 注册名
                       input(type='text',style='background-color:rgba(0,0,0,0)')
                     p
                       label 密码
                       input(type='text',style='background-color:rgba(0,0,0,0)')
                     p 
                       button.btn.btn-left 注册
        .slide.slide2
          .bg-wrapper
            #container_right.bg
              #canvas_right
            .mask
          .content(style='margin-right:30%')
            .con-warpper-fixed
              .con-pc
                .con-pc2
                  p
                    font(color='#FFF', size='60') 登录
                   form
                     p
                       label(style='color:white, border:0px solid #00F') 登录名
                       input(type='text',id='name',style='background-color:rgba(0,0,0,0)')
                     p
                       label 密码
                       input(type='text',id='password',style='background-color:rgba(0,0,0,0)')
                     p 
                       button.btn.btn-left(href='#', onclick='login()')  登录
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/cav.js')
    script(src='/javascripts/backgroundShaking.js')
    script.
      $(function() {
      //				backgroundShaking('container_left', 'canvas_left', '#ba2454', '#b73c63')
      backgroundShaking('container_left', 'canvas_left', '#0065a1', '#197bb5')
      backgroundShaking('container_right', 'canvas_right', '#ab6c11', '#cfa73a')
      })
