App/views/walls.jade
doctype html
html
    include header
  head
    title  ZTREE DEMO - drag with other DOM
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='stylesheets/demo.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/metroStyle/metroStyle.css', type='text/css')
    script(type='text/javascript', src='javascripts/jquery-1.4.4.min.js')
    script(type='text/javascript', src='javascripts/jquery.ztree.core.js')
    // <script type="text/javascript" src="../../../js/jquery.ztree.excheck.js"></script>
    script(type='text/javascript', src='javascripts/jquery.ztree.exedit.js')
    script(type='text/javascript', src='javascripts/trees.js')
    script(type='text/javascript', src='javascripts/block.js')
    style(type='text/css').
      .dom_line {margin:2px;border-bottom:1px gray dotted;height:1px}
      .domBtnDiv {display:block;padding:2px;border:1px gray dotted;background-color:powderblue}
      .categoryDiv {display:inline-block; width:335px}
      .domBtn {display:inline-block;cursor:pointer;padding:2px;margin:2px 10px;border:1px gray solid;background-color:#FFE6B0}
      .domBtn_Disabled {display:inline-block;cursor:default;padding:2px;margin:2px 10px;border:1px gray solid;background-color:#DFDFDF;color:#999999}
      .dom_tmp {position:absolute;font-size:12px;}
      .active {background-color: #93C3CF}
    style.
      .panelControl{
      }
      .table {
      display: table;
      position: float;
      float: left;
      border-spacing: 22px;
      border-color: #3c3c3c;
      border: 1px;
      border-collapse: collapse;
      border-spacing: 0;
      border-left: 1px solid #888;
      border-top: 1px solid #888;
      border-right: 1px solid #888;
      border-bottom: 1px solid #888;
      background: #FFF;
      width: 60%;
      height: 0.75*width;
      }
      .table td {
      border-left: 1px solid #888;
      border-top: 1px solid #888;
      border-right: 1px solid #888;
      border-bottom: 1px solid #888;
      }


     
  body
    
    h1 视频墙
    h6 
    .content_wrap
      .zTreeDemoBackground.left
        ul#treeDemo.ztree
        
      .right

        ul.info
            .domBtnDiv
              #dom_1.categoryDiv
                span.domBtn(domid='11') Tree
                span.domBtn(domid='12') Grass
                span.domBtn(domid='13') Flower
              .dom_line
              #dom_2.categoryDiv
                span.domBtn(domid='21') Tiger
                span.domBtn(domid='22') Bear
                span.domBtn(domid='23') Lion
    .table
   

App/views/walls.html
<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <title>yunka index</title>
    <style>
        html,
        body {
            background: #000;
            overflow: show;
        }
        
        body {
            background: #000;
            background-size: cover;
            font-family: sans-serif;
            text-align: center;
        }
    </style>
    <script>
        window.console = window.console || function(t) {};
    </script>
    <script type="application/x-javascript">
        addEventListener("load", function() {
setTimeout(hideURLbar, 0);
}, false);
function hideURLbar() {
window.scrollTo(0, 1);
}
    </script>
    <link href="../public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css ">
    <link href="../public/stylesheets/stylehome.1.css " rel="stylesheet" type="text/css">
    <script src="../public/javascripts/jquery-1.11.0.min.js "></script>
    <script type="text/javascript ">
        jQuery(document).ready(function($) {
$(".scroll ").click(function(event) {
event.preventDefault();
$('html,body').animate({
scrollTop: $(this.hash).offset().top
}, 1000);
});
});
    </script>
</head>

<body>
    <div class="content">
        <div id="home">
            <div class="header">
                <div class="logo"></div>
                <div class="navigation"><span class="menu"></span>
                    <ul class="navig">
                        <li><a href="/ " class="scroll">首页</a></li>
                        <li><a href="/walls " class="scroll">视频墙</a></li>
                        <li><a href="/signup" class="scroll">登录</a></li>
                        <li><a href="/footer" class="scroll">后台</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- script-for-menu-->
    <script>
        $("span.menu ").click(function() {
$(" ul.navig ").slideToggle("slow ", function() {});
});
    </script>
    <!-- script-for-menu-->
    <!-- Slider-Starts-Here-->
    <script src="../public/javascripts/responsiveslides.min.js "></script>
    <script>
        // You can also use "$(window).load(function() { "
$(function() {
// Slideshow 4
$("#slider4 ").responsiveSlides({
auto: true,
pager: true,
nav: true,
speed: 500,
namespace: "callbacks ",
before: function() {
$('.events').append("<li>before event fired.</li>"); }, after: function() { $('.events').append("
<li>after event fired.</li>"); } }); });
    </script>
    <!---->
    <script src="../public/javascripts/trianglify.min.js"></script>
    <script src="../public/javascripts/d3.min.js"></script>
    <script>
        var rn = Math.floor(Math.random() * 500 + 30);
var rs = Math.floor(Math.random() * 20 + 4);
var t = new Trianglify({
x_gradient: Trianglify.colorbrewer.Spectral[rs],
noiseIntensity: 0.2,
cellsize: rn
});
var pattern = t.generate(window.innerWidth, window.innerWidth + 200);
document.body.setAttribute('style', 'background-image: ' + pattern.dataUrl);
//@ sourceURL=pen.js
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
window.parent.postMessage("resize", "*");
}
    </script>
</body>

</html>

</html>

<head>
    <title> ZTREE DEMO - drag with other DOM</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../public/stylesheets/demo.css" type="text/css">
    <link rel="stylesheet" href="../public/stylesheets/metroStyle/metroStyle.css" type="text/css">
    <script type="text/javascript" src="../public/javascripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/jquery.ztree.core.js"></script>
    <!-- <script type="text/javascript" src="../../../js/jquery.ztree.excheck.js"></script>-->
    <script type="text/javascript" src="../public/javascripts/jquery.ztree.exedit.js"></script>
    <script type="text/javascript" src="../public/javascripts/trees.test.js"></script>
    <style type="text/css">
        .dom_line {
            margin: 2px;
            border-bottom: 1px gray dotted;
            height: 1px
        }
        
        .domBtnDiv {
            display: block;
            padding: 2px;
            border: 1px gray dotted;
            background-color: powderblue
        }
        
        .categoryDiv {
            display: inline-block;
            width: 335px
        }
        
        .domBtn {
            display: inline-block;
            cursor: pointer;
            padding: 2px;
            margin: 2px 10px;
            border: 1px gray solid;
            background-color: #FFE6B0
        }
        
        .domBtn_Disabled {
            display: inline-block;
            cursor: default;
            padding: 2px;
            margin: 2px 10px;
            border: 1px gray solid;
            background-color: #DFDFDF;
            color: #999999
        }
        
        .dom_tmp {
            position: absolute;
            font-size: 12px;
        }
        
        .active {
            background-color: #93C3CF
        }
    </style>
</head>

<body>
    <h1>视频墙</h1>
    <h6> </h6>
    <div class="content_wrap">
        <div class="zTreeDemoBackground left">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
        <div class="right">
            <ul class="info">
                <div class="domBtnDiv">
                    <div id="dom_1" class="categoryDiv"><span domid="11" class="domBtn">Tree</span><span domid="12" class="domBtn">Grass</span><span domid="13"
                            class="domBtn">Flower</span></div>
                    <div class="dom_line"></div>
                    <div id="dom_2" class="categoryDiv"><span domid="21" class="domBtn">Tiger</span><span domid="22" class="domBtn">Bear</span><span domid="23"
                            class="domBtn">Lion</span></div>
                </div>
            </ul>
        </div>
    </div>
</body>
